<template>
  <div id="app">
    <div class="web-camera-container">
      Upload Passport / Id Card
      <form enctype="multipart/form-data" novalidate>
        <div class="dropbox">
          <input type="file" multiple @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            accept="image/*" class="input-file">
        </div>
      </form>
    </div>
    <div id="panelSelfie" class="web-camera-container">
      Selfie Image
      <div class="camera-button">
        <button
          type="button"
          class="button is-rounded"
          :class="{ 'is-primary' : !isCameraOpen1, 'is-danger' : isCameraOpen1}"
          @click="toggleCamera1"
        >
          <span v-if="!isCameraOpen1">Open Camera</span>
          <span v-else>Close Camera</span>
        </button>
      </div>

      <div v-show="isCameraOpen1 && isLoading1" class="camera-loading">
        <ul class="loader-circle">
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>

      <div
        v-if="isCameraOpen1"
        v-show="!isLoading1"
        class="camera-box"
        :class="{ 'flash' : isShotPhoto1 }"
      >
        <div class="camera-shutter" :class="{'flash' : isShotPhoto1}"></div>

        <video
          v-show="!isPhotoTaken1"
          ref="camera1"
          :width="this.cameraWidth"
          :height="this.cameraHeight"
          autoplay
        ></video>

        <canvas
          v-show="isPhotoTaken1"
          id="photoTaken1"
          ref="canvas1"
          :width="this.cameraWidth"
          :height="this.cameraHeight"
        ></canvas>
      </div>

      <div v-if="isCameraOpen1 && !isLoading1" class="camera-shoot">
        <button type="button" class="button" @click="takePhoto1">
          <img
            src="https://img.icons8.com/material-outlined/50/000000/camera--v2.png"
          />
        </button>
      </div>

      <div v-if="isPhotoTaken1 && isCameraOpen1" class="camera-download">
        <a
          id="downloadPhoto1"
          download="selfie.jpg"
          class="button"
          role="button"
          @click="downloadImage1"
        >
          Download
        </a>
      </div>
    </div>
    <div id="footer" class="footer-container">
      <button
          type="button"
          class="button is-rounded is-primary"
          @click="faceCompareAction"
        >
          <span>Start Compare</span>
        </button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
    data() {
        return {
            isCameraOpen: false,
            isPhotoTaken: false,
            isShotPhoto: false,
            isLoading: false,
            isCameraOpen1: false,
            isPhotoTaken1: false,
            isShotPhoto1: false,
            isLoading1: false,
            cameraType: 'environment',
            cameraWidth: 400,
            cameraHeight: 377.5,
            passportFile: "",
            link: '#'
        }
    },
    mounted: function() {
      if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
        // alert("Yes")
      } else {
        // alert("No")
      }
    },
    methods: {
        ocrIdCard() {
          const passport = this.convertImage(document.getElementById("photoTaken").toDataURL("image/jpeg"))
          const apiEndpoint = "https://api.iapp.co.th/thai-national-id-card/v3/front"
          const headers = {
            'apikey': '6iqf6j7R6qKsDKAvH9LhgNY49p6WE5oV'
          }
          let formData = new FormData();
          formData.append('file', passport)

          axios
          .post(apiEndpoint, formData, { headers: headers })
          .then(response => {
            // Handle the response data here
            console.log('Response from the API:', response.data)
            alert(response.data)
          })
          .catch(error => {
            // Handle any errors that occurred during the request
            console.error('Error:', error);
          });
        },
        filesChange(fieldName, fileList) {
          if (!fileList.length) return;
          this.passportFile = fileList[0]
        },
        faceCompareAction() {
          alert("Compare")
          // this.ocrIdCard()
          const selfie = this.convertImage(document.getElementById("photoTaken1").toDataURL("image/jpeg"), 'selfie.jpg')

          const apiEndpoint = "https://api.iapp.co.th/face-verification/v2/face_compare"
          const headers = {
            'apikey': '6iqf6j7R6qKsDKAvH9LhgNY49p6WE5oV'
          }
          let formData = new FormData();
          formData.append('file1', this.passportFile)
          formData.append('file2', selfie)
          
          // // console.log("form data ", formData)

          // // // Json : {"idcard":{"confidence":62.389,"isSamePerson":"true"},"selfie":{"confidence":58.161,"isSamePerson":"true"},"time_process":0.882,"total":{"confidence":60.275,"isSamePerson":"true"}}

          axios
          .post(apiEndpoint, formData, { headers: headers })
          .then(response => {
            // Handle the response data here
            console.log('Response from the API:', response.data)
            if (response.data.matched) {
              alert("Is same person.")
            } else {
              alert("Is not same person.")
            }
          })
          .catch(error => {
            // Handle any errors that occurred during the request
            console.error('Error:', error);
          })

        },

        toggleCamera() {
          if(this.isCameraOpen) {
              this.isCameraOpen = false;
              this.isPhotoTaken = false;
              this.isShotPhoto = false;
              this.stopCameraStream();
          } else {
              this.isCameraOpen = true;
              this.createCameraElement();
          }
        },

        createCameraElement() {
          /* Brownser */
          const constraints = (window.constraints = {
            audio: false,
            video: { width: this.cameraWidth, height: this.cameraHeight },
          })
          this.isLoading = true
          
          navigator.mediaDevices
            .getUserMedia(constraints)
            .then(stream => {
                alert("Open camera");
                this.isLoading = false;
                this.$refs.camera.srcObject = stream;
            })
            .catch(error => {
                this.isLoading = false;
                alert("May the browser didn't support or there is some errors.");
            })
        },

        stopCameraStream() {
        let tracks = this.$refs.camera.srcObject.getTracks();

                tracks.forEach(track => {
                    track.stop();
                });
        },

        takePhoto() {
        if(!this.isPhotoTaken) {
            this.isShotPhoto = true;

            const FLASH_TIMEOUT = 50;

            setTimeout(() => {
            this.isShotPhoto = false;
            }, FLASH_TIMEOUT);
        }

        this.isPhotoTaken = !this.isPhotoTaken;

        const context = this.$refs.canvas.getContext('2d');
        context.drawImage(this.$refs.camera, 0, 0, this.cameraWidth, this.cameraHeight);
        },

        convertImage(base64Image, filename) {
          // Remove the data URI prefix (e.g., 'data:image/png;base64,')
          const base64Data = base64Image.replace(/^data:image\/(png|jpeg|jpg);base64,/, '');
          // Decode the base64 data
          const binaryString = atob(base64Data);
           // Convert the binary string to a Uint8Array
          const byteArray = new Uint8Array(binaryString.length);
          for (let i = 0; i < binaryString.length; i++) {
            byteArray[i] = binaryString.charCodeAt(i);
          }

          const blob = new Blob([byteArray], { type: 'image/png' }); // Specify the MIME type (e.g., image/png)

          // Create a File from the Blob
          const file = new File([blob], filename, { type: 'image/png' }); // Specify the desired file name

          console.log(file)

          return file
        },

        downloadImage() {
          const download = document.getElementById("downloadPhoto");
          const canvas = document.getElementById("photoTaken").toDataURL("image/jpeg")
          // this.convertImage(canvas)
          download.setAttribute("href", canvas);
        },

        toggleCamera1() {
          if(this.isCameraOpen1) {
              this.isCameraOpen1 = false;
              this.isPhotoTaken1 = false;
              this.isShotPhoto1 = false;
              this.stopCameraStream1();
          } else {
              this.isCameraOpen1 = true;
              this.createCameraElement1();
          }
        },

        createCameraElement1() {
          this.isLoading1 = true;

          const constraints = (window.constraints = {
                      audio: false,
                      video: true
                  });


          navigator.mediaDevices
                    .getUserMedia(constraints)
                    .then(stream => {
            this.isLoading1 = false;
                        this.$refs.camera1.srcObject = stream;
                    })
                    .catch(error => {
            this.isLoading1 = false;
                        alert("May the browser didn't support or there is some errors.");
                    });
        },

        stopCameraStream1() {
        let tracks = this.$refs1.camera.srcObject.getTracks();

                tracks.forEach(track => {
                    track.stop();
                });
        },

        takePhoto1() {
        if(!this.isPhotoTaken1) {
            this.isShotPhoto1 = true;

            const FLASH_TIMEOUT = 50;

            setTimeout(() => {
            this.isShotPhoto1 = false;
            }, FLASH_TIMEOUT);
        }

        this.isPhotoTaken1 = !this.isPhotoTaken1;

        const context = this.$refs.canvas1.getContext('2d');
        context.drawImage(this.$refs.camera1, 0, 0, this.cameraWidth, this.cameraHeight);
        },

        downloadImage1() {
        const download = document.getElementById("downloadPhoto1");
        const canvas = document.getElementById("photoTaken1").toDataURL("image/jpeg")
        download.setAttribute("href", canvas);
        }
    }
}
</script>

<style lang="less">
body {
  display: flex;
  justify-content: center;
}

.is-primary {
  background-color: #00d1b2;
  border-color: transparent;
  color: #fff;
}

.is-rounded {
  border-radius: 290486px;
  padding-left: 1em;
  padding-right: 1em;
}

.button.is-danger {
  background-color: #ff3860;
  border-color: transparent;
  color: #fff;
}

.footer-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.web-camera-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;

  .camera-button {
    margin-bottom: 2rem;
  }

  .camera-box {
    .camera-shutter {
      opacity: 0;
      width: auto;
      height: auto;
      background-color: #fff;
      position: absolute;

      &.flash {
        opacity: 1;
      }
    }
  }

  .camera-shoot {
    margin: 1rem 0;

    button {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      img {
        height: 35px;
        object-fit: cover;
      }
    }
  }

  .camera-loading {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 150px;
    margin: 3rem 0 0 -1.2rem;

    ul {
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 999999;
      margin: 0;
    }

    .loader-circle {
      display: block;
      height: 14px;
      margin: 0 auto;
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      position: absolute;
      width: 100%;
      padding: 0;

      li {
        display: block;
        float: left;
        width: 10px;
        height: 10px;
        line-height: 10px;
        padding: 0;
        position: relative;
        margin: 0 0 0 4px;
        background: #999;
        animation: preload 1s infinite;
        top: -50%;
        border-radius: 100%;

        &:nth-child(2) {
          animation-delay: 0.2s;
        }

        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    }
  }

  @keyframes preload {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}
</style>
